
body{
  background-color: grey;
}
* {
  margin: 0;
  padding: 0;
 
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #BEBEBE;
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  margin-top : 10px;
  height: 100vh;
  border-radius: 13px;

  width: 100vw;
  background-color: grey;  

}

.product-canvas {
  width: 100vw;
  height: 70vh;
  background:grey;
  box-shadow:  -1px 15px 15px 6px grey;
  border-radius: 0px;
  margin-top:60px;
}
#canvas{
  width:100%;
}
.custom{
  color:white;
  border-bottom:1px solid grey;
  text-align:center;
}

.colors {
display:flex;
flex-wrap :wrap;
justify-content:space-evenly;
align-items: center;
background-color :white;
}

.colors input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  margin:auto;
  cursor: pointer;

}

.colors input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

.colors input[type="color"]:active {
  transform: scale(1.1);
}
.colors h2 {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: black;
}




.modal-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex ; 
  justify-content:center;

}


.modal-content {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #3e8e41;
}